<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>PaginationTest</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>DisplayTransactions</display-name>
    <servlet-name>DisplayTransactions</servlet-name>
    <servlet-class>com.pradeep.servlets.DisplayTransactions</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayTransactions</servlet-name>
    <url-pattern>/DisplayTransactions</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DownloadTransactions</display-name>
    <servlet-name>DownloadTransactions</servlet-name>
    <servlet-class>com.pradeep.servlets.DownloadTransactions</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownloadTransactions</servlet-name>
    <url-pattern>/DownloadTransactions</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddBankAccountServlet</display-name>
    <servlet-name>AddBankAccountServlet</servlet-name>
    <servlet-class>com.pradeep.servlets.AddBankAccountServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddBankAccountServlet</servlet-name>
    <url-pattern>/AddBankAccountServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.pradeep.servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.pradeep.servlets.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SendMoney</display-name>
    <servlet-name>SendMoney</servlet-name>
    <servlet-class>com.pradeep.servlets.SendMoney</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendMoney</servlet-name>
    <url-pattern>/SendMoney</url-pattern>
  </servlet-mapping>
</web-app>